/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* #profile__include {
	background-image:URL(../images/banner3.jpg);
	background-color:red;
} */
/* 옮기는 중 */
.bg-1 { 
      background-color: #585858; /* Green */
      color: #ffffff;
	}
.bg-2 { 
      background-color:#c2c2c2 /* #474e5d */; /* Dark Blue */
      color: #ffffff;
	}
.margin {
	margin-bottom: 45px; display:inline-block;
	}
.selfintroduce {
      display:inline;
      vertical-align:middle;
      text-align:center;
	}
.sns_icon li {
	  list-style:none;
	  display:inline-block;	
	  width:15%;
    }
.fannote {
      color: #535353;
    }
.button_hidden {
      display:none;
    }
	.button-icon, .button-text, .button-fantext {
		display:inline-block;
	}
	.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  	}	
  	/* 팬노트 일부 감추기 */
	#example_length, #example_filter, #example_info {
	  display:none;
	}
/* 여기까지 */
.buskerPage h2 {
	font-size:3em;
	text-align:center;
}
/* .profile-info div {
	display:inline-block;
} */
/* 자기 사진 */
.mainPicture {
	height:250px;
}
/*  */
.heartmessage {
	width:25%;
	height:150px;
	text-align:center;
	font-size:20px;
	font-weight: 700;
}

.heartmessage button:hover {
	color:#e94a23;
	border:1px solid #e94a23;
}

.heartmessage button {
	width:150px;
	text-decoration: none;
	padding: 15px 0;
	background-color:rgba(0,0,0,0);
	border:1px solid white;
	vertical-align:middle;
}

/* 갤러리 */
.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	width:260px;
	height:200px;
	display:inline-block;
}
.galleryText {
	text-align:center;
}

@media(max-width:1680px) {
	.gallery-grid1 {
		width: 24%;
		margin:6px 0;
	}
	.introduce {
		width: 80%;
	}
	
}

@media(max-width:1440px) {
	.gallery-grid1 {
		width:24%;
	}
	.introduce {
		width: 80%;
	}
}

@media(max-width:1366px) {
	.gallery-grid1 {
		width:24%;
	}
}

@media(max-width:1280px) {
	.gallery-grid1 {
		width:24%;
	}
}

@media(max-width:1080px) {
	.gallery-grid1 {
		width:32%;
	}
}

@media(max-width:1050px) {
	.gallery-grid1 {
		width:31%;
	}
}

@media(max-width:991px) {
	.gallery-grid1 {
		width:32%;
	}
	.heartmessage, .selfintroduce, .fannote {
		display:inline;
	}
	.heartmessage {
		width:35%;
		height:150px;
		text-align:center;
		font-size:20px;
		font-weight: 700;
		float:none;
		margin:0 auto;
	}
	.selfintroduce {
		margin:0 auto;
	}
}

@media(max-width:900px) {
	.gallery-grid1 {
		width:49%;
	}
	.heartmessage {
	width:200px;
	height:150px;
	text-align:center;
	font-size:20px;
	font-weight: 700;
	float:none;
}
}

@media(max-width:800px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:768px) {
	.gallery-grid1 {
		width:49%;
	}
	.
}

@media(max-width:767px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:736px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:667px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:640px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:600px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:568px) {
	.gallery-grid1 {
		width:49%;
	}
}

@media(max-width:480px) {
	.gallery-grid1 {
		width:100%;
	}
	.introduce {
		width: 30%;
	}
}

@media(max-width:414px) {
	.gallery-grid1 {
		width:100%;
	}
}

@media(max-width:412px) {
	.gallery-grid1 {
		width:100%;
	}
}

@media(max-width:384px) {
	.gallery-grid1 {
		width:100%;
	}
}

@media(max-width:375px) {
	.gallery-grid1 {
		width:100%;
	}
}

@media(max-width:320px) {
	.gallery-grid1 {
		width:100%;
	}
	.introduce {
		width: 100%;
	}
	
	/* 임시 페이지 */

.busker_profile_sns a {
	margin-right:30px;
}
.category {
	
}
.button-icon, .button-text, .button-fantext {
	display:inline-block;
}